// App level styles
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: Hk-Grotesk;
    src: url(../fonts/HKGrotesk-Regular.otf);
}
@font-face {
    font-family: Binaria;
    src: url(../fonts/Binaria-Regular.otf);
}
a,
button,
[role='button'],
[role='presentation'] {
    cursor: pointer;
    border: none;
    outline: none;
}

html,
body {
    font-family: 'Montserrat', sans-serif;
    background: $white;
    color: $black;
    max-width: 100vw;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
    padding: 0;
    margin: 0;
    height: 100%;
    scroll-behavior: smooth;
    font-size: calc(100vw / 1440 * 16);
    @include flex(stretch, stretch, column);
    @include respondMin('desktop2x') {
        font-size: 1rem;
    }
    @include respondMax('tablet2x') {
        font-size: calc(100vw / 992 * 14);
    }
    @include respondMax('tablet') {
        font-size: calc(100vw / 768 * 14);
    }
    @include respondMax("mobile3x") {
        font-size: calc(100vw / 600 * 14);
    }
    @include respondMax("mobile2x") {
        font-size: calc(100vw / 480 * 14);
    }
}

* {
    outline: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    font-size: Max(1.015rem, 14px);
    line-height: Max(1.5rem, 18px);
    width: 100%;
    height: Max(3.125rem, 36px);
    color: $white;
    border-radius: 8px;
}

ul,
li,
ol,
dd,
dl {
    margin-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    list-style-type: none;
    padding-inline-start: 0;
}

label {
    display: block;
    margin-bottom: 0.4rem;
}

input {
    border: 1px solid $grey;
    border-radius: 5px;
    height: 3.125rem;
    width: min(90%, 23rem);
    padding: 0.3rem;
    &::placeholder {
        color: $black;
    }
    &.login {
        border: 1px solid $grey;
    border-radius: 8px;
    height: 3.125rem;
    padding: 0.8rem;
    &::placeholder {
        color: $black;
    }
    }
    @include respondMax('mobile3x') {
        width: 90%;
    }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

/* for firefox */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-moz-focus-inner,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border: 1px solid #defbce;
    background-color: #DBD9D9;
    cursor: pointer;
}

input[type="checkbox"]:after {
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 10px;
    color: $white;
    background-color: #DBD9D9;
    @include flex(center, center);
}

input[type="checkbox"]:checked {
    background-color: #8F3D55;
}

input[type="checkbox"]:checked:after {
    background-color: #8F3D55;
    
}